{{- if .Param "authorbox" }}
{{ $author := site.Params.author }}
<div class="authorbox clearfix">
	{{- if and (not $author.avatar) (not $author.name) (not $author.bio) }}
	<p class="authorbox__warning">
		<strong>WARNING:</strong> Authorbox is activated, but [Author] parameters are not specified.
	</p>
	{{- end }}
	{{- with $author.avatar }}
	<figure class="authorbox__avatar">
		<img alt="{{ $author.name }} avatar" src="{{ relURL $author.avatar }}" class="avatar" height="90" width="90">
	</figure>
	{{- end }}
	{{- with $author.name }}
	<div class="authorbox__header">
		<span class="authorbox__name">{{ T "authorbox_name" (dict "Name" .) }}</span>
	</div>
	{{- end }}
	{{- with $author.bio }}
	<div class="authorbox__description">
		{{ markdownify . }}
	</div>
	{{- end }}
</div>
{{- end }}